system:
  hostname: {{ ansible_hostname }}
  os:
    distribution: {{ ansible_distribution }}
    version: {{ ansible_distribution_version }}
  cpu:
    architecture: {{ ansible_architecture }}
  memory:
    total: {{ ansible_memtotal_mb }} MB
  uptime: {{ ansible_uptime_seconds | int // 3600 }} hours